.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86vh;
   background: url("../img/無題112.jpg") center/cover; 
}

  
  @keyframes slider {
    0% {
    transform: translateX(0);
    }
    33% {
    transform: translateX(-300px);
    }
    66% {
    transform: translateX(-600px);
    }
    100% {
    transform: translateX(0);
    }
  }


body {
  font-family: "Cormorant Garamond","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .10px;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 100px 0;
}

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 35px;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .1em;
  color: #000080;
  font-family: 'Courgette', cursive;
}

.lead {
  margin-bottom: 30px;
}

/*--------------------------------
 header
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  text-align: center;
}

.header-inner {
  padding: 0 40px;
}

/* 大きい名前 */
.header-title {
  font-family: 'Satisfy', cursive;
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #000080;
}
.header-subtitle {
  font-family: 'Kaisei Decol', serif;
  font-size: 40px;
  line-height: 1;
  letter-spacing: .08em;
  color:#008080
}

/*--------------------------------
 下層ページのheader
---------------------------------*/
.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 10px;
  text-align: center;
}

.sub-header-inner {
  padding: 0 40px;
}

.sub-header-title {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 5px;
  color: #f5b5d5;
}
.sub-header-subtitle {
  font-family: 'Kaisei Decol', serif;
  font-size: 40px;
  line-height: 1;
  letter-spacing: .08em;
  color: color#008080
}

/*--------------------------------
グローバルナビ
---------------------------------*/
.gnav {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.gnav-inner {
  padding: 15px 40px;
}

.gnav-list {
  display: flex;
  justify-content: center;
}

.gnav-item {
  margin: 0 20px;
}

.gnav-item a {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #333;
}

.gnav-item a:hover {
  opacity: .8;
}



/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.works-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 25px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
  
  font-size: 20px;
  text-align:left;

}

.skill-name {
  margin-bottom: 3px;
}
/* stregth */
.strengths {
  font-family: 'Kaisei Decol', serif;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.strengths-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}
.strengths-img img {
  border-radius: 50%;
}
.stengths-body {
  flex: 1;
}
.strengths-body p:not(:last-child) {
  margin-bottom: 30px;
}

/* strength */
/*--------------------------------
 About
---------------------------------*/
.about {
  font-family: 'Kaisei Decol', serif;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  text-align:center;
  font-size: 25px;
}
.about-img {
  width: 60%;
  margin-right: 20px;
  border-radius: 40%;
}
.about-img img {
  border-radius: 20%;
}
.about-body {
  flex: 1;
  font-size: 25px;
}
.about-body p:not(:last-child) {
  margin-bottom: 30px;
}


/* profile */
.profile {
  font-family: 'Kaisei Decol', serif;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.profile-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}
.profile-img img {
  border-radius: 50%;
}
.profile-body {
  font-size: 25px;
  flex: 1;
}
.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/* アバウトと同じ */




/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
  font-size: 25px;
  font-family: 'Kaisei Decol', serif;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background: #000080;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background: #000080;
}

.copyright {
  font-size: 25px;
  text-align: center;
  color: #fff;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-img {
  margin-bottom: 20px;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-info-title {
  font-size: 15px;
}

.article-body img {
  margin-bottom: 30px;
}

.article-body p {
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .inner {
    padding: 0 20px;
  }

  /*  header */
  .header {
    height: 60vh;
  }u

  .header-inner {
    padding: 0 20px;
  }

  .header-title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .header-subtitle {
    font-size: 18px;
  }

  /*  下層ページのheader */
  .sub-header-inner {
    padding: 0 40px;
  }

  .sub-header-title {
    font-family: "Dancing Script", cursive;
    font-size: 24px;
  }
  .sub-header-subtitle {
    font-size: 14px;
  }

  /* グローバルナビ */
  .gnav .inner {
    padding: 15px;
  }

  .gnav-logo {
    font-size: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 12px;
  }

  .gnav-item a:after {
    display: none;
  }

  /* Works */
  .works-name {
    font-size: 20px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
   
  }


/* hobby */

/* hobby */

  /* フッター */
  .footer {
    padding: 20px;


  }

  /* 下層ページ */
  .article {
    padding: 30px 0;
  }
}

/* スライドショー */

.slider {
width: 1000px;
height: 500px;
overflow: hidden;
margin: 0 auto;

}
.slider-item {
  width: 800px;
  float: left;
}
img{
  width:100%;
}
.slider-inner {
  width: 900%;
  animation: slider 10s infinite ease;
}

@keyframes slider {
	0% {
	transform: translateX(0);
	}
	33% {
	transform: translateX(-300px);
	}
	100% {
	transform: translateX(-600px);
	}
	100% {
	transform: translateX(0);
	}
}


/* スライド */


/* text */
.text{
  font-size: large;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}




/*リセットcss↓*/
html {
  overflow-y: scroll;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,th {
  text-align: left;
}
q:before,q:after {
  content: '';
}
object,embed {
  vertical-align: top;
}
hr,legend {
  display: none;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
}
img,abbr,acronym,fieldset {
  border: 0;
}
li {
  list-style-type: none;
}
sup {
  vertical-align: super;
  font-size: 0.5em;
}
img {
  vertical-align: top;
}
i {
  font-style: normal;
}
/*----リセットcss*----/

/*デザインcss↓*/
.box_con02 {
  max-width: 900px;
  margin: 0  auto;
}
@media only screen and (max-width: 768px) {
  .box_con02 {
    width: 95%;
  }
}
.box_con02 form {
  width: 100%;
}
.box_con02 form table {
  width: 100%;
}
.box_con02 form table tr {
  position: relative;
}
.box_con02 form table tr:first-child td:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 1px;
  border-bottom: solid 1px rgba(28, 46, 83, 0.5);
}
@media only screen and (max-width: 768px) {
  .box_con02 form table tr:first-child td:before {
    display: none;
  }
}
.box_con02 form table tr th {
  width: 30%;
  font-weight: normal;
  padding: 1em .5em;
  background: #1c2e53;
  color: #fff;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .box_con02 form table tr th {
    text-align: center;
    width: 100%;
    display: block;
    padding: .8em .2em;
  }
}
.box_con02 form table tr th span {
  background: #cd6f55;
  padding: 0 .3em;
  color: #fff;
  margin-left: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con02 form table tr th:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: solid 1px #fff;
}
.box_con02 form table tr td {
  position: relative;
  padding: 1em .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .box_con02 form table tr td {
    padding: 1.5em .5em;
    display: block;
    width: 100%;
  }
}
.box_con02 form table tr td:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: solid 1px rgba(28, 46, 83, 0.5);
}
.box_con02 form table tr .box_br {
  display: block;
}
.box_con02 form table tr select, .box_con02 form table tr textarea, .box_con02 form table tr .wide {
  width: 100%;
  height: 3em;
  padding: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con02 form table tr textarea {
  height: 10em;
}

/*プライバシーのデザインcss↓*/
.con_pri {
  max-width: 700px;
  margin: 0  auto;
}
@media only screen and (max-width: 768px) {
  .con_pri {
    width: 95%;
  }
}
.con_pri .box_pri {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #cdcdcd;
  background: #f7f7f7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px 55px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri {
    margin-top: 4%;
    padding: 3%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .con_pri .box_pri {
    padding: 4%;
  }
}
.con_pri .box_pri .box_tori {
  text-align: left;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori {
    margin-top: 4%;
  }
}
.con_pri .box_pri .box_tori h4 {
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 150%;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori h4 {
    margin-bottom: 4%;
  }
}
.con_pri .box_pri .box_tori .txt {
  padding: 0 20px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori .txt {
    padding: 0;
  }
}
.con_pri .box_pri .box_num {
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_num {
    margin-top: 5%;
  }
}
.con_pri .box_pri .box_num h4 {
  font-weight: normal;
  font-size: 113%;
}
.con_pri .box_pri .box_num .txt {
  padding: 10px 0 0 20px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_num .txt {
    padding: 3% 0 0 3%;
  }
}

.box_check {
  text-align: center;
  margin: 1em auto;
}
.box_check label {
  display: inline-block;
}
.box_check label span {
  margin-left: .3em;
}

.btn {
  text-align: center;
}
.btn input {
  display: inline-block;
  background: #eee;
  padding: .5em 4em;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn input:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}



/* メール */
.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {

  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {

}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #545454;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #545454;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

.slide-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slider-1 24s linear infinite;
}


.out{
  position: relative;
}
.in img{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s;
  z-index: 0;
}
img{
  display: block;
  width: 100%;
  height: auto;
  size: 0vmax;
}
input{
  display: none;
}
.in{
  display: flex;
  justify-content: center;
}
label span{
  display: block;
  width: 15px;
  height: 15px;
  padding: 7px;
  margin: -40px 0 0;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
label span::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #4287f5;
  opacity: 0.5;
  border-radius: 100%;
}        
input:nth-of-type(1):checked ~ .in label:nth-of-type(1) img,
input:nth-of-type(2):checked ~ .in label:nth-of-type(2) img,
input:nth-of-type(3):checked ~ .in label:nth-of-type(3) img,
input:nth-of-type(4):checked ~ .in label:nth-of-type(4) img{
    opacity: 1;
    z-index: 1;
}
.in img{
    animation: slide 14s infinite;/* (a+b)×c=x */
    opacity: 0;
}
@keyframes slide{
    0%{opacity: 0;}
    3.5%{opacity: 1;z-index: 1;}/* b÷x×100=y */
    25%{opacity: 1;}/* 100÷c=z */
    28.5%{opacity: 0;z-index: 0;}/* y+z */
}
input:checked ~ .in img,input:checked ~ .in span::before{
    animation: none;
}
.in:hover img,.in:hover span::before{
    animation-play-state:paused;/* マウスを載せると一時停止 */
}    

